{% extends "Doctor/home_doc.html" %}
{% block blogs_active %}active{% endblock %}

{%block body%}
<h1><b>Write a blog</b></h1>
<div class="media">
  <div class="media-left media-middle">
    <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><b>Know Before You Go: Allergy Tests</b></h4>
    <p>f you have allergies, you’re not alone. More than 50 million Americans have allergies, making them the sixth most common cause of chronic illness. But it’s not enough to know that you’re one of millions who suffer. To treat allergies more effectively, you first need to know what is causing your allergic reactions. Allergy tests are quick and painless ways to find out. Here’s what you need to know about allergy tests before you head to the appointment.</p>
  </div>
</div>
{% endblock %}
